/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--path_bg_image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000028
}

.header {
  inline-size: 100vw;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 36px 195px 1fr 1fr;
  margin-block-end: 40px;
  padding: 10px;
}

.header::after {
  content: '';
  position: absolute;
  border-block-end: 1px solid var(--color_text_head_menu_dark);
  border-inline-start: 1px solid var(--color_text_head_menu_dark);
  width: 25px;
  height: 25px;
  align-self: end;
  justify-self: start;
}

.block_rec {
  position: absolute;
  justify-self: end;
  margin-block-start: 1px;
  margin-inline-end: 1.4em;
}

.header::before {
  content: '';
  position: absolute;
  border-block-start: 1px solid var(--color_text_head_menu_dark);
  border-inline-end: 1px solid var(--color_text_head_menu_dark);
  width: 25px;
  height: 25px;
  align-self: start;
  justify-self: end;
}

.block_rec::after{
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  top: 8px;
  right: -14px;
  background-color: var(--color_text_head_menu_dark);
}

.rec_decor{
  font-family: var(--IBM_Plex_Mono);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color_text_head_menu_dark);
}

.header__theme-menu {
  grid-row: 2/3;
  justify-self: end;
  margin-block-start: 31px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 11px;
  gap: 15px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--color_text_head_menu_dark);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color_text_head_menu_dark);
  padding: 3px 13px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--color_text_head_menu_dark);
  padding: 3px 13px;
}

.header__theme-menu-button_type_dark {
  border: 1px solid var(--color_text_head_menu_dark);
  padding: 3px 14px;
}

.header_head {
  grid-row: 3/4;
  font-family: var(--IBM_Plex_Mono);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: #FF0070;
  color: #000028;
}

.paragraph_header{
  font-family: var(--IBM_Plex_Mono);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  grid-row: 4;
  width: 355px;
  height: 117px;
  margin-block-start: 35px;
}

.content {
  display: flex;
  flex-direction: column;
  inline-size: 100vw;
  padding-inline: 10px;
}

.why_difficult_focus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 20px;
}

.head_section {
  font-family: var(--IBM_Plex_Mono);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color_text_head_menu_dark);
}

.reduces_concetration_atantion{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.goldfish {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
}

.soviet_weight{
  font-weight: 400;
}

.head_card {
  font-family: var(--IBM_Plex_Mono);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.text_card {
  font-family: var(--IBM_Plex_Mono);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.in_image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}



