/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --ibm-plex-mono: 'IBM Plex Mono', sans-serif ;
  --path_bg_image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --focus-color: #db00ff;
  --text-color: #f1b2ce;
  --title-decor-color: #000028;
  --decor-corner: #ff0070;
  --menu-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --tab-color: rgba(255, 0, 112, 1);
  --head-section-color: #ff0070;
  --visibility-rec: block;
}
