/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --IBM_Plex_Mono: 'IBM Plex Mono', sans-serif ;
  --path_bg_image: url(/images/cover-image-dark.png);
  --accent-color: #FF0070;
  --main-bg-color: #000028;
  --focus-color: #DB00FF;
  --text-color: #F1B2CE;
  --title-decor-color: #000028;
  --decor-corner: #FF0070;
  --menu-color: #FF0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --tab-color: rgba(255, 0, 112, 1);
  --head-section-color: #FF0070;
  --visibility-rec: block;
}